<div class="centro ">
    <div class="card col-md-12   fondo"><!--para que se vea por la mitad aqui debe ir en card col-md-6 , pero se puso 12 para que cuando se llame como routing se vea bien-->
        <div class="card-body  ">
            <ul class="nav flex-column ">
    <!--Actividad-->
    <div class="col-sm-12 linea " >
            <div class="col-6  ">
                 <h4>Tu actividad</h4>
            </div>
          </div>
    <div id="idMovimientos"></div>
            
        
            </ul>
    
    
    
    
    
            </div>  
            </div>
          </div>